---
layout: page
title: Today I Learned
group: Til
---
<section class="list">
    {% assign sortedTags = site.til_categories %}
    {% for tag in sortedTags %}
        {% for post in site.tags[tag] %}
        <div class="item {% if post.star %}star{% endif %}">
            <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                <aside><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time></aside>
                <h3 class="title">{{ post.title }}</h3>
            </a>
        </div>
        {% endfor %}
    {% endfor %}
</section>
